{% extends 'core/base.html' %}

{% load static %}
{% block title %}Trabajo{% endblock %}

{% block background %}{% static 'core/img/portfolio-me.png' %}{%endblock %}

{% block headers %}
    <h1>Trabajo</h1>
    <span class="subheading">Currículo</span>
{% endblock %}

{% block content %}
    <!-- Proyecto -->
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/whalfred-me.png' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Whalfred</h2>
            <p>
                Ayudando en un proyecto que se llama Whalfred. Utilizamos la API de WhatsApp para enviar recordatorios automáticos con un chat normal de WhatsApp.
            </p>
            <p>
                <a href="https://www.whalfred.com">Más información</a>
            </p>
        </div>
    </div>
    <!-- Proyecto -->
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/uni-me.png' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Universidad</h2>
            <p>
                “Estudio Ingeniería Matemática en la Universidad Alfonso X el Sabio. Este grado me permite combinar las matemáticas con su aplicación práctica en ingeniería, enfocándome en áreas como programación, análisis de datos y modelización matemática.”

            </p>
            <p><a href="https://www.uax.com">Más información</a></p>
        </div>
    </div>
{% endblock %}